table {
	width: 96%;
	border-top: 1px solid #0078ae;
	border-right: 1px solid #0078ae;
	margin: 1em auto;
	border-collapse: collapse;
	background: #f4f9fe
}
tr.odd td, tr.odd .column1 {
	background: #fdfdfd no-repeat;
}
td {
	color: #678197;
	border-bottom: 1px solid #0078ae;
	border-left: 1px solid #0078ae;
	padding: .3em 1em;
	text-align: left;
}
th {
	font-size: 14px;
	font-weight: bold;
	color: #678197;
	text-align: left;
	border-bottom: 1px solid #0078ae;
	border-left: 1px solid #0078ae;
	padding: .3em 1em;
}
